The Dataset
start with the dataset then do the modeling

# Commuting Stress

## Simulate commuting stress

Summarise the paper by Tony Cassidy (Commuting-related Stress: Consequences and Implications Tony Cassidy)

## Model and synthesise the data

### import libraries

In [1]:
# for rendering plots in jupyter notebook
%matplotlib inline 
# pandas for the dataframe
import pandas as pd 
# numpy for array minimpuation and random number generation
import numpy as np
# matplotlib for plots
import matplotlib.pyplot as plt

Create the number of rows needed for the dataset.

In [2]:
# Set the index
x = range(0, 370)
print(len(x))

370

Create the database headings.

In [3]:
df = pd.DataFrame(columns = ['Gender','Distance', 'Duration', 'Time', 'Impedance', 'Transport'], index = x)
# check headers are present
df.head()

  Gender Distance Duration Time Impedance Transport
0    NaN      NaN      NaN  NaN       NaN       NaN
1    NaN      NaN      NaN  NaN       NaN       NaN
2    NaN      NaN      NaN  NaN       NaN       NaN
3    NaN      NaN      NaN  NaN       NaN       NaN
4    NaN      NaN      NaN  NaN       NaN       NaN

In [4]:
size = 370
print("The size of the dataset is: ", size)

The size of the dataset is:  370

### Gender
Add the gender data. 
This is simulated with np.random.choice
#### Why?
expand here

In [5]:
gender = ['Male', 'Female']
y_gen = np.random.choice(gender, size, p=[217/size, 153/size])

This is in array form which will be changed to dataframe form.

In [6]:
df['Gender'] = pd.Series(y_gen)
df.head()

   Gender Distance Duration Time Impedance Transport
0  Female      NaN      NaN  NaN       NaN       NaN
1  Female      NaN      NaN  NaN       NaN       NaN
2    Male      NaN      NaN  NaN       NaN       NaN
3    Male      NaN      NaN  NaN       NaN       NaN
4    Male      NaN      NaN  NaN       NaN       NaN

In [7]:
df.tail()

     Gender Distance Duration Time Impedance Transport
365    Male      NaN      NaN  NaN       NaN       NaN
366  Female      NaN      NaN  NaN       NaN       NaN
367  Female      NaN      NaN  NaN       NaN       NaN
368    Male      NaN      NaN  NaN       NaN       NaN
369    Male      NaN      NaN  NaN       NaN       NaN

### Distance
Add the distance data. 
This is simulated with np.random.choice
#### Why?
expand here

In [8]:
distance = ['0.5 miles', '6-15 miles', '16-30 miles', 'over 30 miles']
tot_dist = 109+144+67+56
y_dist = np.random.choice(distance, size, p=[109/tot_dist, 144/tot_dist, 67/tot_dist, 56/tot_dist])

Change the y_dist distance array to a dataframe and add it to the simulated model.

In [9]:
df['Distance'] = pd.Series(y_dist)
df.head()

   Gender     Distance Duration Time Impedance Transport
0  Female   6-15 miles      NaN  NaN       NaN       NaN
1  Female   6-15 miles      NaN  NaN       NaN       NaN
2    Male   6-15 miles      NaN  NaN       NaN       NaN
3    Male  16-30 miles      NaN  NaN       NaN       NaN
4    Male  16-30 miles      NaN  NaN       NaN       NaN

In [10]:
df.tail()

     Gender     Distance Duration Time Impedance Transport
365    Male  16-30 miles      NaN  NaN       NaN       NaN
366  Female    0.5 miles      NaN  NaN       NaN       NaN
367  Female    0.5 miles      NaN  NaN       NaN       NaN
368    Male    0.5 miles      NaN  NaN       NaN       NaN
369    Male  16-30 miles      NaN  NaN       NaN       NaN

### Duration
Add the duration data. 
This is simulated with np.random.choice
#### Why?
expand here

In [11]:
duration = ['0-30 minutes', '30-60 minutes', 'Over 60 minutes']
tot_dur = 137+121+97
y_dur = np.random.choice(duration, size, p=[137/tot_dur, 121/tot_dur, 97/tot_dur])

Change the y_dur duration array to a dataframe and add it to the simulated model.

In [12]:
df['Duration'] = pd.Series(y_dur)
df.head()

   Gender     Distance         Duration Time Impedance Transport
0  Female   6-15 miles  Over 60 minutes  NaN       NaN       NaN
1  Female   6-15 miles    30-60 minutes  NaN       NaN       NaN
2    Male   6-15 miles     0-30 minutes  NaN       NaN       NaN
3    Male  16-30 miles    30-60 minutes  NaN       NaN       NaN
4    Male  16-30 miles     0-30 minutes  NaN       NaN       NaN

In [13]:
df.tail()

     Gender     Distance         Duration Time Impedance Transport
365    Male  16-30 miles  Over 60 minutes  NaN       NaN       NaN
366  Female    0.5 miles     0-30 minutes  NaN       NaN       NaN
367  Female    0.5 miles     0-30 minutes  NaN       NaN       NaN
368    Male    0.5 miles     0-30 minutes  NaN       NaN       NaN
369    Male  16-30 miles  Over 60 minutes  NaN       NaN       NaN

### Time
Add the time data. 
This is simulated with np.random.choice
#### Why?
expand here

In [14]:
time = ['1-29 months', '30-60 months', '60-131 months', 'Over 132 months']
tot_time = 73+99+80+91
y_time = np.random.choice(time, size, p=[73/tot_time, 99/tot_time, 80/tot_time, 91/tot_time])

Change the y_time time array to a dataframe and add it to the simulated model.

In [15]:
df['Time'] = pd.Series(y_time)
df.head()

   Gender     Distance         Duration             Time Impedance Transport
0  Female   6-15 miles  Over 60 minutes  Over 132 months       NaN       NaN
1  Female   6-15 miles    30-60 minutes     30-60 months       NaN       NaN
2    Male   6-15 miles     0-30 minutes    60-131 months       NaN       NaN
3    Male  16-30 miles    30-60 minutes     30-60 months       NaN       NaN
4    Male  16-30 miles     0-30 minutes      1-29 months       NaN       NaN

In [16]:
df.tail()

     Gender     Distance         Duration             Time Impedance Transport
365    Male  16-30 miles  Over 60 minutes     30-60 months       NaN       NaN
366  Female    0.5 miles     0-30 minutes     30-60 months       NaN       NaN
367  Female    0.5 miles     0-30 minutes    60-131 months       NaN       NaN
368    Male    0.5 miles     0-30 minutes      1-29 months       NaN       NaN
369    Male  16-30 miles  Over 60 minutes  Over 132 months       NaN       NaN

### Impedance
Add the impedance data. 
This is simulated with np.random.choice
#### Why?
expand here

In [17]:
impedance = ['17 mph or less', '17.3-30 mph', 'Over 30 mph']
tot_imp = 207+97+66
y_imp = np.random.choice(impedance, size, p=[207/tot_imp, 97/tot_imp, 66/tot_imp])

Change the y_imp impedance array to a dataframe and add it to the simulated model.

In [19]:
df['Impedance'] = pd.Series(y_imp)
df.head()

,Gender,Distance,Duration,Time,Impedance,Transport
0,Female,6-15 miles,Over 60 minutes,Over 132 months,17 mph or less,NaN
1,Female,6-15 miles,30-60 minutes,30-60 months,17 mph or less,NaN
2,Male,6-15 miles,0-30 minutes,60-131 months,17 mph or less,NaN
3,Male,16-30 miles,30-60 minutes,30-60 months,17 mph or less,NaN
4,Male,16-30 miles,0-30 minutes,1-29 months,17.3-30 mph,NaN

In [20]:
df.tail()

,Gender,Distance,Duration,Time,Impedance,Transport
365,Male,16-30 miles,Over 60 minutes,30-60 months,17.3-30 mph,NaN
366,Female,0.5 miles,0-30 minutes,30-60 months,17 mph or less,NaN
367,Female,0.5 miles,0-30 minutes,60-131 months,17.3-30 mph,NaN
368,Male,0.5 miles,0-30 minutes,1-29 months,17 mph or less,NaN
369,Male,16-30 miles,Over 60 minutes,Over 132 months,17 mph or less,NaN

### Other variables
The model also contained other information. 

### Transport
Add the method of transportation data. 
This is simulated with np.random.choice
#### Why?
expand here

In [24]:
transport = ['Car', 'Public transport']
tot_tran = 124+189
y_tran = np.random.choice(transport, size, p= [124/tot_tran, 189/tot_tran])

Change the y_tran transportation array to a dataframe and add it to the simulated model.

In [25]:
df['Transport'] = pd.Series(y_tran)
df.head()

,Gender,Distance,Duration,Time,Impedance,Transport
0,Female,6-15 miles,Over 60 minutes,Over 132 months,17 mph or less,Public transport
1,Female,6-15 miles,30-60 minutes,30-60 months,17 mph or less,Public transport
2,Male,6-15 miles,0-30 minutes,60-131 months,17 mph or less,Public transport
3,Male,16-30 miles,30-60 minutes,30-60 months,17 mph or less,Car
4,Male,16-30 miles,0-30 minutes,1-29 months,17.3-30 mph,Public transport

In [ ]:
df.tail()

 The full data is below along with the information and description of it.

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370 entries, 0 to 369
Data columns (total 6 columns):
Gender       370 non-null object
Distance     370 non-null object
Duration     370 non-null object
Time         370 non-null object
Impedance    370 non-null object
Transport    0 non-null object
dtypes: object(6)
memory usage: 17.4+ KB

In [21]:
df.describe()

,Gender,Distance,Duration,Time,Impedance,Transport
count,370,370,370,370,370,0.0
unique,2,4,3,4,3,0.0
top,Male,6-15 miles,30-60 minutes,30-60 months,17 mph or less,NaN
freq,225,143,143,102,217,NaN

In [26]:
df.nunique()

Gender       2
Distance     4
Duration     3
Time         4
Impedance    3
Transport    2
dtype: int64

## References